* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: ghostwhite;    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #777777;
    color: #ffffff;
    width: 100%;
}

.contentheader{
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5em;
    padding: 6%;
    font-weight: bold;
}

.subheader{
    color: #e9dcdc;
    background-color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: auto;
    padding: 3%;
}

#tituloartigo{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(197, 133, 55);
    margin: 24px;
    clear: both;
    font-weight: bold;
}

p{
    font-size: 1em;
    color: #673207;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 48px;
    text-align: justify;

}

figcaption{
    font-size: 1em;
    color: #673207;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    text-align: center;
}

.responsive{
    width:100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    
}

.column{
    display: flex;
    justify-content: center;
    flex: 33.33%;
    padding: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}


form{   
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    box-sizing: border-box; 
}

form div + div{
    margin-top: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #673207;
}

input {
    font-size: 1em;
    width: 300 px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.button{
    padding-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    margin-left: 0.5em;
    color: #673207;
}

footer{
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;  
}